.login-page{
  width: 60%;
  padding: 5% 0 5%;
  margin: 10px auto;
}

.form{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
/*   max-width: 120px; */
  width: 90%;
  margin: auto;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}

.form input{
  font-family: quicksand, sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 15px 0 10px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.dropdown {
    position: relative;
/*     display: inline-block; */
}

.dropdown-content {
    list-style-type: none;
    display: none;
    background-color: #B0ACAC;
    margin: auto;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown li:hover {background-color: #8FCDCB}

#save-button, #connect, #dpbtn{
  font-family: quicksand, sans-serif;
  text-align: center;
  text-transform: Uppercase;
  outline: 0;
  background: #720d0d;
  margin-top: 15px;
  width: 30%;
  border: 0;
  padding: 15px;
  color: white;
  font-size: 13px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus{
  background: #09357a;
}



#outside-frame{
  margin:auto;
  width:auto;
  height:auto;
  background-color: #09357a;
}

#myDiagramDiv{
  width:auto; 
  height:800px; 
  background-color: #DAE4E4; 
/*   margin:0 auto; */
  float:top;
  position: relative;
  z-index: 1;
}

#column{
  position: relative;
  float:top;
}



ul{
  list-style:none;
  margin-left: 20px;
  line-height: 25px;
}
#myTableList{
  height:200px;
  width:100%;
  overflow:hidden; 
  overflow-y:scroll;
  }
h2{
  margin-left:30px;
  
}

li{
  font-size:16px;
  font-family: sans-serif;
  color:blue;
  cursor: pointer;
}

input[type=button]{
  background: lightsteelblue;
  border-color: black;
  border-width: 1.5px;
  border-radius: 4px;
  padding: 8px;
  margin-top: 12px;
  margin-left: 20px;
}

#myInput{
  font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 20px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin: 6px;
}

#label{
  font-size: 16px; /* Increase font-size */
  font-family: Tahoma;
  padding: 8px;
  vertical-align: -webkit-baseline-middle;

}

#outside-frame{
  background: white;
}

/* The switch - the box around the slider */
.switch {
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}









