.login-page{
  width: 60%;
  padding: 5% 0 5%;
  margin: 10px auto;
}

.form{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
/*   max-width: 120px; */
  width: 90%;
  margin: auto;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}

.form input{
  font-family: quicksand, sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 15px 0 10px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#connect{
  font-family: quicksand, sans-serif;
  text-transform: Uppercase;
  outline: 0;
  background: #720d0d;
  margin-top: 15px;
  width: 30%;
  border: 0;
  padding: 15px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus{
  background: #09357a;
}
















